textarea{
  width: 100dvw;
  height: 40dvh;
}
:root{
	color-scheme: light dark;
  --light:hsl(60, 25%, 95%);
  --dark:hsl(15, 5%, 10%);
	--base_x1:1ch;
  --half_base_x1:.5ch;
	--bg:light-dark(var(--light),var(--dark));
	--fg:light-dark(var(--dark),var(--light));
  --border: 1px solid var(--fg);
  --line_height:120%;
  --sans: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --rad:3px;
}
*{
	outline:none;
	font-family: ui-monospace, monospace;
	font-variant-ligatures: no-common-ligatures;
	line-height: var(--line_height);
	padding: 0;
	margin: 0;
	font-size: 15px;
	box-sizing: border-box;
	border: 0;
	background-color: transparent;
}
header, header *,footer, footer *,.no_select{
  user-select: none;
}
header {
  display: flex;
  flex-direction: row;
  padding: 1ch;
  div {
    align-self: center;
    width: 33.3333%;
    text-align: center;
  }
  div:first-of-type{
    text-align: left;
  }
  div:last-of-type{
    text-align: right;
  }
  text-align: center;
  border-bottom: var(--border);
  button {
    border: 1px dashed var(--fg);
    padding: 2px;
    &:hover{
      border: var(--border);
    }
  }
}
footer {
  width: 100dvw;
  align-self: center;
  border-top: var(--border);
  text-align: center;
  padding: .5ch 1ch;
  button {
    padding: 2px;
    border: 1px dashed var(--fg);
  }
  *{
    font-size: small;
  }
}
.hljs_block{
  width: 100%;
  white-space: pre-wrap;
  /*background-color: hsl(0, 0%, 96%);*/
}
.hljs-comment {
  /*font-family: var(--sans);*/
  color: var(--fg);
  /*font-style: italic;*/
  color: #444;
}
.hljs-title, .function_{
  font-weight: bold;
}
#show_example_use_sans_comments{
  display: none;
}
body:has(#hide_comments:checked) /* .hljs-comment*/{
  #show_example_use_sans_comments{
    display: block;
  }
  #show_example_use{
  display: none;
  }
}
#hide_comments_label {
  border: var(--border);
  border-radius: var(--rad);
  overflow: hidden;
  line-height: var(--line_height);
  padding: 0 var(--rad);
}
#hide_comments_label::after{
  content: 'N';
  line-height: var(--line_height);
  border-left: var(--border);
  padding: 0 var(--rad);
  margin-left:var(--rad);
  }
body:has(#hide_comments:checked) #hide_comments_label::after{
  content: "Y";
}
#please_enable_js, #please_enable_js * {
  color: var(--bg);
}
details {
  border: var(--border);
  margin-bottom: -1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--rad);
  padding: 0ch 2ch;
  padding-top: 0;
  summary {
    padding: 1ch 0;
    width: 100%;
  }
}
details[open]{
  summary{
    border-bottom: 1px dashed var(--fg);
  }
  padding: 2ch;
  padding-top: 0;
}
details:last-of-type{
  margin-bottom: 2ch;
}
#please_enable_js {
	position: fixed;
	background-color: var(--fg);
	padding: 2ch;
	top: 25%;
	width: 100vw;
	left: 0%;
	z-index: 999;
	height: auto;
	max-width: 100vw;
	text-align: center;
	font-size: 16px;
}
a, a *{
  color: var(--fg);
}
.column{
  width: 70ch;/*64 + padding + space to stop unwanted wrapping*/
  max-width: 100dvw;
  padding: 4ch 0ch;/*2ch LR if no details*/
  margin: 0 auto;
  display: block;
}

main {
  flex:1;
  overflow-y:auto;
  display: flex;
  margin: 0 auto;
  width: 100dvw;
  flex-direction: column;
  overflow-y: auto;
}
body{
  width: 100dvw;
  height: 100dvh;
  background-color: var(--bg);
 color: var(--fg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a,a:visited{
color: var(--fg);
}
[popover]{
	/*default*/
	position: fixed;
  inset: 0;
  height: fit-content;
  margin: auto;
  border-radius: var(--rad);
  padding: 0.25em;
  overflow: auto;
	/*custom*/
  background-color: var(--bg);
	width: calc(68ch + 4px);
	min-height: 6ch;
	border: 2px solid var(--fg);
	padding: 2ch;
	max-width: 100dvw;
  max-height: 90dvh;
  p{
    margin-bottom: 1em;
  }
	pre{
		white-space: pre-wrap; 
	}
}
button {
  border-radius: var(--rad);
}
summary{
  user-select: none;
}
pre button {
  border: 1px solid var(--fg);
  padding: 2px;
  background: transparent;
}
code.hljs {
  max-width: 100%;
  padding: 2ch;
}
.round_button{
  
  border: 2px solid var(--fg);
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  user-select: none;
  padding: 1ch 2ch;
}
#toc_links{
  display: flex;
  flex-direction: column;
  a{
    line-height: 128%;
  }
  .depth_1{
    margin-top: 1ch;
  }
  .depth_2{
    padding-left: 2ch;
  }
  .depth_3{
    padding-left: 4ch;
  }
}
